<div class="container">
  <div class="page-header">
    <div class="btn-toolbar pull-right">
      <button class="btn btn-primary" ng-click="$ctrl.showAddContact = !$ctrl.showAddContact">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
    <h2>Contacts: </h2>
  </div>

  <div class="panel panel-default" ng-show="$ctrl.showAddContact">
    <div class="panel-body">
      <form name="contactForm" novalidate>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" ng-model="$ctrl.newContact.name" required>
        </div>

        <div class="form-group">
          <label>How often would you like get in touch? (In days)</label>
          <input class="form-control" type="number" ng-model="$ctrl.newContact.idealContactFrequency" required>
        </div>

        <div class="form-group">
          <label>And often do you really NEED to get in touch? (Again in days)</label>
          <input class="form-control" type="number" ng-model="$ctrl.newContact.minimumContactFrequency" required>
        </div>

        <button type="submit" class="btn btn-default" ng-disabled="!contactForm.$valid||($ctrl.newContact.idealContactFrequency>$ctrl.newContact.minimumContactFrequency)" ng-click="$ctrl.addContact()">Submit</button>

      </form>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="contact in $ctrl.contacts">
      <a href="#" ng-click="$ctrl.toggleExpanded(contact)">
        <h4>{{contact.name}} <span class="label pull-right" ng-class="$ctrl.statusLabels[$ctrl.getStatus(contact)]">{{$ctrl.getStatus(contact)}}</span></h4>
      </a>
      <div ng-show="$ctrl.expanded.includes(contact._id)">
        <hr/>
        <div class="row" ng-show="contact.interactions.length">
          <strong class="col-xs-6">Last interaction:</strong>
          <p class="col-xs-6 text-justify">
          {{contact.interactions[contact.interactions.length-1].note}}
          <br>
          <small>- {{$ctrl.daysSinceLastInteraction(contact) | number:0}} days ago</small>
          </p>
        </div>

        <div class="row">
          <form class="col-xs-12 well" name="interactionForm">
          <h4>Add an interaction:</h4>
        <hr/>
            <div class="form-group">
              <label>Note:</label>
              <input class="form-control" type="text" ng-model="contact.newInteraction.note">
            </div>
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="contact.newInteraction.date" is-open="$ctrl.datepicker.open">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="$ctrl.datepicker.open = !$ctrl.datepicker.open"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
            <button type="submit" class="btn btn-default" ng-click="$ctrl.addInteraction(contact)">Save</button>
          </form>
        </div>
      </div>
    </li>
  </ul>
</div>
