<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Contacts:</h1>
      <ul class="list-group" ng-repeat="contact in $ctrl.contacts">
        <li class="list-group-item">{{contact.name}}</li>
      </ul>

      <form class="contact-form">
        <div class="input-group">
          <input class="form-control" type="text" name="" ng-model="$ctrl.newContact">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="$ctrl.addContact()">Add New</button>
          </span>
        </div>
      </form>

    </div>
  </div>
</div>
